[submodule "impl/bup"]
	path = impl/bup
	url = git@github.com:bup/bup.git
[submodule "impl/rsroll"]
	path = impl/rsroll
	url = git@github.com:aidanhs/rsroll.git
[submodule "impl/perkeep"]
	path = impl/perkeep
	url = git@github.com:perkeep/perkeep.git
[submodule "impl/go-ipfs-chunker"]
	path = impl/go-ipfs-chunker
	url = git@github.com:ipfs/go-ipfs-chunker.git
